.leftbox {
  float: left;
  /* background: Red; */
  width: 600px;
}

.midbox {
  border-left: #333 solid 3px;
  padding-left: 25px;
  float: left;
  /* background: blue; */
}

label {
  color: black;
  font-weight: bold;
  display: inline-block;
}
input {
  border-radius: 5px;
  border-color: white;
}
input[type="text"],
input[type="number"] {
  padding: 3px;
  margin: 2px;
  text-align: center;
  border: #555 solid 3px;

  outline: none;
  /* background-color: rgb(0, 0, 0); */
  /* color: #fff; */
}
input[type="submit"] {
  padding: 3px;
  margin: 2px;
  text-align: center;
  border: #555 solid 3px;
  border-radius: 5px;
  height: 45px;
  width: 100px;

  outline: none;
  /* background-color: rgb(0, 0, 0); */
  /* color: #fff; */
}
input[type="date"] {
  padding: 3px;
  margin: 2px;
  border: #555 solid 3px;

  /* background-color: rgb(0, 0, 0); */
  color: #333;
  text-align: center;
}
input[type="checkbox"] {
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}
textarea {
  /* background-color: rgb(0, 0, 0); */
  border-radius: 5px;
  border: #555 solid 3px;

  /* color: #fff; */
  text-align: center;
  margin: 2px;
  padding: 3px;
}
.item {
  /* display: block; */
  font-size: 1.3em;
  font-weight: bold;
}
select {
  padding: 3px;
  margin: 2px;
  width: 150px;
  border: #555 solid 3px;
  border-radius: 5px;

  /* background-color: rgb(0, 0, 0); */
  color: #333;
  text-align: center;
}
.alert {
  padding: 20px;
  background-color: #04aa6d;
  color: white;
  display: none;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

/* table,
th,
td {
  border: 1px solid black;
} */
.para {
  font-size: 1.2em;
}
