<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles\header.css" />

    <title>Document</title>
  </head>
  <body>
    <header class="site-header">
      <div class="wrapper site-header__wrapper">
        <a href="/home" class="brand">Paricott Calculator</a>
        <nav class="nav">
          <ul class="nav__wrapper">
            <li class="nav__item"><a href="/home">Home</a></li>
            <li class="nav__item"><a href="/base">Basecup Cost</a></li>
            <li class="nav__item"><a href="/packcost">SKU Cost</a></li>
            <li class="nav__item"><a href="/topdf">To PDF</a></li>
            <li class="nav__item"><a href="/calib">Calibrate</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <form action="topdf" method="post">
      {% csrf_token %}
      <td>
        <label for="Date">Date:</label>
        <input
          type="date"
          name="Date"
          id="Date"
          placeholder="11-Nov-2021"
          required
        />
      </td>
      <td>
        <label for="noQuote">Quote:</label>
        <input
          type="text"
          name="noQuote"
          id="noQuote"
          placeholder="201/21-22"
          required
        />
      </td>

      <div>
        <label for="Abrv">Abrv:</label>
        <input
          type="text"
          name="Abrv"
          id="Abrv"
          placeholder="MaxHome"
          required
        />
      </div>
      <div>
        <label for="CompanyName">Company Name:</label>
        <input
          type="text"
          name="CompanyName"
          id="CompanyName"
          placeholder="MaxHome Products"
          required
        />
      </div>
      <div>
        <label for="CompanyAdd">Company Address:</label>
        <textarea
          name="CompanyAdd"
          id="CompanyAdd"
          cols="30"
          rows="3"
          required
          placeholder="60,Hoffman Ave | Hauppauge,
NY 11788
United States of America"
        ></textarea>
      </div>
      <div>
        <label for="BuyerName">Buyer Name:</label>
        <input
          type="text"
          name="BuyerName"
          id="BuyerName"
          required
          placeholder=" Mr. Hymie S. Dana"
        />
      </div>
      <div>
        <label for="Buyerinfo">Buyer info:</label>
        <textarea
          name="Buyerinfo"
          id="Buyerinfo"
          cols="30"
          rows="3"
          required
          placeholder="Cell: +1 (917) 596-1751
Phone: +1-631.249.8324
Email: hd@maxhomeproducts.com"
        ></textarea>
      </div>
      <div>
        <label for="T&C">Terms & Conditions:</label>
        <textarea
          name="T&C"
          id="T&C"
          cols="54"
          rows="5"
          textContent="hi"
          required
          placeholder="1. Price: FOB Nhava Sheva Port, India
2. Stuffing at ICD Tihi (Pithampur) or Sea Port Nhava
Sheva,
3. Payment: 30% Advance TT
 (Telex of each container after final payment)"
        ></textarea>
      </div>
      <br />

      <table>
        <tr>
          <th>No. Of Item</th>
          <th>Size of Cup</th>
          <th>Product Name</th>
          <th>No SKU in Conatiner</th>
          <th>Rate $</th>
          <th>Amount</th>
          <th>No MC in Conatiner</th>
          <th>MC Size</th>
          <th>CBM per MC</th>
          <th>CBM per 40HQ</th>
          <th>Discription</th>
        </tr>
        <tr>
          <td>
            <input type="checkbox" name="Item1" id="Item1" checked />
            <label for="Item1">Item 1</label>
          </td>
          <td>
            <select name="size_of_cup1" id="size_of_cup1" required>
              <option value="40">40ml</option>
              <option value="55">55ml</option>
              <option value="65">65ml</option>
              <option value="75">75ml</option>
              <option value="85">85ml</option>
              <option value="90">90ml</option>
              <option value="100">100ml</option>
              <option value="100SB">100ml SB</option>
              <option value="120">120ml</option>
              <option value="125">125ml</option>
              <option value="130">130ml</option>
              <option value="150">150ml</option>
              <option value="150SB">150ml SB</option>
              <option value="200">200ml</option>
              <option value="200SB">200ml SB</option>
              <option value="8Oz">8 Oz</option>
              <option value="250">250ml</option>
              <option value="300">300ml</option>
              <option value="330">330ml</option>
            </select>
          </td>
          <td>
            <input
              type="text"
              name="productName1"
              id="productName1"
              size="25"
              required
              placeholder="6Ct, 90ml Ripple Cup Printed "
            />
          </td>
          <td>
            <input
              type="number"
              name="NoSKUinConatiner1"
              id="NoSKUinConatiner1"
              size="15"
              required
              placeholder="1920 "
            />
          </td>
          <td>
            <input
              type="text"
              name="Rate1"
              id="Rate1"
              size="5"
              required
              placeholder="07.50 "
            />
          </td>
          <td>
            <input
              type="text"
              name="Amount1"
              id="Amount1"
              size="8"
              required
              placeholder="12345.68 "
            />
          </td>
          <td>
            <input
              type="number"
              name="NoMCinConatiner1"
              id="NoMCinConatiner1"
              size="5"
              required
              placeholder="3380 "
            />
          </td>
          <td>
            <input
              type="text"
              name="MCSize1"
              id="MCSize1"
              size="15"
              required
              placeholder="334 X 253 x 217 cm"
            />
          </td>
          <td>
            <input
              type="text"
              name="CBMperMC1"
              id="CBMperMC1"
              size="13"
              required
              placeholder="0.0183"
            />
          </td>
          <td>
            <input
              type="text"
              name="CBMper40HQ1"
              id="CBMper40HQ1"
              size="13"
              required
              placeholder="71.147"
            />
          </td>
          <td>
            <textarea
              name="DecSub1"
              id="DecSub1"
              cols="40"
              rows="6"
              textContent="hi"
              required
              placeholder="6 Cups packed in Printed Poly Bag 
12 such Poly bag in one Master Carton
Paper Cup: 256GSM (Single side Coated)
Ripple: Inner Layer Brown Craft- 120GSM
           & Ripple Layer Craft- 120GSM
Printing in One Color: Maroon Color"
            ></textarea>
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox" name="Item2" id="Item2" />
            <label for="Item2">Item 2</label>
          </td>
          <td>
            <select name="size_of_cup2" id="size_of_cup2">
              <option value="40">40ml</option>
              <option value="55">55ml</option>
              <option value="65">65ml</option>
              <option value="75">75ml</option>
              <option value="85">85ml</option>
              <option value="90">90ml</option>
              <option value="100">100ml</option>
              <option value="100SB">100ml SB</option>
              <option value="120SB">120ml SB</option>
              <option value="125">125ml</option>
              <option value="130">130ml</option>
              <option value="150">150ml</option>
              <option value="150SB">150ml SB</option>
              <option value="200">200ml</option>
              <option value="200SB">200ml SB</option>
              <option value="8Oz">8 Oz</option>
              <option value="250">250ml</option>
              <option value="300">300ml</option>
              <option value="330">330ml</option>
            </select>
          </td>
          <td>
            <input
              type="text"
              name="productName2"
              id="productName2"
              size="25"
              placeholder="6Ct, 90ml Ripple Cup Printed "
            />
          </td>
          <td>
            <input
              type="number"
              name="NoSKUinConatiner2"
              id="NoSKUinConatiner2"
              size="15"
              placeholder="1920 "
            />
          </td>
          <td>
            <input
              type="text"
              name="Rate2"
              id="Rate2"
              size="5"
              placeholder="07.50 "
            />
          </td>
          <td>
            <input
              type="text"
              name="Amount2"
              id="Amount2"
              size="8"
              placeholder="12345.68 "
            />
          </td>
          <td>
            <input
              type="number"
              name="NoMCinConatiner2"
              id="NoMCinConatiner2"
              size="5"
              placeholder="3380 "
            />
          </td>
          <td>
            <input
              type="text"
              name="MCSize2"
              id="MCSize2"
              size="15"
              placeholder="334 X 253 x 217 cm"
            />
          </td>
          <td>
            <input
              type="text"
              name="CBMperMC2"
              id="CBMperMC2"
              size="13"
              placeholder="0.0183"
            />
          </td>
          <td>
            <input
              type="text"
              name="CBMper40HQ2"
              id="CBMper40HQ2"
              size="13"
              placeholder="71.147"
            />
          </td>
          <td>
            <textarea
              name="DecSub2"
              id="DecSub2"
              cols="40"
              rows="6"
              textContent="hi"
              placeholder="6 Cups packed in Printed Poly Bag 
12 such Poly bag in one Master Carton
Paper Cup: 256GSM (Single side Coated)
Ripple: Inner Layer Brown Craft- 120GSM
         & Ripple Layer Craft- 120GSM
Printing in One Color: Maroon Color"
            ></textarea>
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox" name="Item3" id="Item3" />
            <label for="Item3">Item 3</label>
          </td>
          <td>
            <select name="size_of_cup3" id="size_of_cup3">
              <option value="40">40ml</option>
              <option value="55">55ml</option>
              <option value="65">65ml</option>
              <option value="75">75ml</option>
              <option value="85">85ml</option>
              <option value="90">90ml</option>
              <option value="100">100ml</option>
              <option value="100SB">100ml SB</option>
              <option value="120SB">120ml SB</option>
              <option value="125">125ml</option>
              <option value="130">130ml</option>
              <option value="150">150ml</option>
              <option value="150SB">150ml SB</option>
              <option value="200">200ml</option>
              <option value="200SB">200ml SB</option>
              <option value="8Oz">8 Oz</option>
              <option value="250">250ml</option>
              <option value="300">300ml</option>
              <option value="330">330ml</option>
            </select>
          </td>
          <td>
            <input
              type="text"
              name="productName3"
              id="productName3"
              size="25"
              placeholder="6Ct, 90ml Ripple Cup Printed "
            />
          </td>
          <td>
            <input
              type="number"
              name="NoSKUinConatiner3"
              id="NoSKUinConatiner3"
              size="15"
              placeholder="1920 "
            />
          </td>
          <td>
            <input
              type="text"
              name="Rate3"
              id="Rate3"
              size="5"
              placeholder="07.50 "
            />
          </td>
          <td>
            <input
              type="text"
              name="Amount3"
              id="Amount3"
              size="8"
              placeholder="12345.68 "
            />
          </td>
          <td>
            <input
              type="number"
              name="NoMCinConatiner3"
              id="NoMCinConatiner2"
              size="5"
              placeholder="3380 "
            />
          </td>
          <td>
            <input
              type="text"
              name="MCSize3"
              id="MCSize3"
              size="15"
              placeholder="334 X 253 x 217 cm"
            />
          </td>
          <td>
            <input
              type="text"
              name="CBMperMC3"
              id="CBMperMC3"
              size="13"
              placeholder="0.0183"
            />
          </td>
          <td>
            <input
              type="text"
              name="CBMper40HQ3"
              id="CBMper40HQ3"
              size="13"
              placeholder="71.147"
            />
          </td>
          <td>
            <textarea
              name="DecSub3"
              id="DecSub3"
              cols="40"
              rows="6"
              textContent="hi"
              placeholder="6 Cups packed in Printed Poly Bag 
12 such Poly bag in one Master Carton
Paper Cup: 256GSM (Single side Coated)
Ripple: Inner Layer Brown Craft- 120GSM
         & Ripple Layer Craft- 120GSM
Printing in One Color: Maroon Color"
            ></textarea>
          </td>
        </tr>
      </table>
      <input type="submit" value="Generate" />
    </form>
  </body>
</html>
