<html>
  <header>
    <title>Calibrate</title>
  </header>
  <body>
    <form action="calib" method="post">
      {% csrf_token %}
      <table>
        <tr>
          <th>Calibrate</th>
          <th>40ml</th>
          <th>55ml</th>
          <th>65ml</th>
          <th>75ml</th>
          <th>85ml</th>
          <th>90ml</th>
          <th>100ml</th>
          <th>100ml SB</th>
          <th>120ml</th>
          <th>125ml</th>
          <th>130ml</th>
          <th>150ml</th>
          <th>150ml SB</th>
          <th>170ml</th>
          <th>200ml</th>
          <th>200ml SB</th>
          <th>8 Oz</th>
          <th>250ml</th>
          <th>300ml</th>
          <th>330ml</th>
        </tr>
        <tr>
          <td>GSM</td>
          <td>
            <input type="text" name="40GSM" id="40GSM" maxlength="6" size="4" />
          </td>
          <td>
            <input type="text" name="55GSM" id="55GSM" maxlength="6" size="4" />
          </td>
          <td>
            <input type="text" name="65GSM" id="65GSM" maxlength="6" size="4" />
          </td>
          <td>
            <input type="text" name="75GSM" id="75GSM" maxlength="6" size="4" />
          </td>
          <td>
            <input type="text" name="85GSM" id="85GSM" maxlength="6" size="4" />
          </td>
          <td>
            <input type="text" name="90GSM" id="90GSM" maxlength="6" size="4" />
          </td>
          <td>
            <input
              type="text"
              name="100GSM"
              id="100GSM"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="100 SBGSM"
              id="100 SBGSM"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="120GSM"
              id="120GSM"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="125GSM"
              id="125GSM"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="130GSM"
              id="130GSM"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="150GSM"
              id="150GSM"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="150 SBGSM"
              id="150 SBGSM"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="170GSM"
              id="170GSM"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="200GSM"
              id="200GSM"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="200 SBGSM"
              id="200 SBGSM"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="8 OzGSM"
              id="8 OzGSM"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="250GSM"
              id="250GSM"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="300GSM"
              id="300GSM"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="330GSM"
              id="330GSM"
              maxlength="6"
              size="4"
            />
          </td>
        </tr>
        <tr>
          <td>Die Cup Sheet</td>
          <td>
            <input
              type="text"
              name="40Die Cup Sheet"
              id="40Die Cup Sheet"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="55Die Cup Sheet"
              id="55Die Cup Sheet"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="65Die Cup Sheet"
              id="65Die Cup Sheet"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="75Die Cup Sheet"
              id="75Die Cup Sheet"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="85Die Cup Sheet"
              id="85Die Cup Sheet"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="90Die Cup Sheet"
              id="90Die Cup Sheet"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="100Die Cup Sheet"
              id="100Die Cup Sheet"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="100 SBDie Cup Sheet"
              id="100 SBDie Cup Sheet"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="120Die Cup Sheet"
              id="120Die Cup Sheet"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="125Die Cup Sheet"
              id="125Die Cup Sheet"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="130Die Cup Sheet"
              id="130Die Cup Sheet"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="150Die Cup Sheet"
              id="150Die Cup Sheet"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="150 SBDie Cup Sheet"
              id="150 SBDie Cup Sheet"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="170Die Cup Sheet"
              id="170Die Cup Sheet"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="200Die Cup Sheet"
              id="200Die Cup Sheet"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="200 SBDie Cup Sheet"
              id="200 SBDie Cup Sheet"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="8 OzDie Cup Sheet"
              id="8 OzDie Cup Sheet"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="250Die Cup Sheet"
              id="250Die Cup Sheet"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="300Die Cup Sheet"
              id="300Die Cup Sheet"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="330Die Cup Sheet"
              id="330Die Cup Sheet"
              maxlength="6"
              size="4"
            />
          </td>
        </tr>
        <tr>
          <td>Number of Blanks per Sheet</td>
          <td>
            <input
              type="text"
              name="40Number of Blanks per Sheet"
              id="40Number of Blanks per Sheet"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="55Number of Blanks per Sheet"
              id="55Number of Blanks per Sheet"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="65Number of Blanks per Sheet"
              id="65Number of Blanks per Sheet"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="75Number of Blanks per Sheet"
              id="75Number of Blanks per Sheet"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="85Number of Blanks per Sheet"
              id="85Number of Blanks per Sheet"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="90Number of Blanks per Sheet"
              id="90Number of Blanks per Sheet"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="100Number of Blanks per Sheet"
              id="100Number of Blanks per Sheet"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="100 SBNumber of Blanks per Sheet"
              id="100 SBNumber of Blanks per Sheet"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="120Number of Blanks per Sheet"
              id="120Number of Blanks per Sheet"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="125Number of Blanks per Sheet"
              id="125Number of Blanks per Sheet"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="130Number of Blanks per Sheet"
              id="130Number of Blanks per Sheet"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="150Number of Blanks per Sheet"
              id="150Number of Blanks per Sheet"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="150 SBNumber of Blanks per Sheet"
              id="150 SBNumber of Blanks per Sheet"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="170Number of Blanks per Sheet"
              id="170Number of Blanks per Sheet"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="200Number of Blanks per Sheet"
              id="200Number of Blanks per Sheet"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="200 SBNumber of Blanks per Sheet"
              id="200 SBNumber of Blanks per Sheet"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="8 OzNumber of Blanks per Sheet"
              id="8 OzNumber of Blanks per Sheet"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="250Number of Blanks per Sheet"
              id="250Number of Blanks per Sheet"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="300Number of Blanks per Sheet"
              id="300Number of Blanks per Sheet"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="330Number of Blanks per Sheet"
              id="330Number of Blanks per Sheet"
              maxlength="6"
              size="4"
            />
          </td>
        </tr>
        <tr>
          <td>Wt. Blanks per Sheet</td>
          <td>
            <input
              type="text"
              name="40Wt. Blanks per Sheet"
              id="40Wt. Blanks per Sheet"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="55Wt. Blanks per Sheet"
              id="55Wt. Blanks per Sheet"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="65Wt. Blanks per Sheet"
              id="65Wt. Blanks per Sheet"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="75Wt. Blanks per Sheet"
              id="75Wt. Blanks per Sheet"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="85Wt. Blanks per Sheet"
              id="85Wt. Blanks per Sheet"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="90Wt. Blanks per Sheet"
              id="90Wt. Blanks per Sheet"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="100Wt. Blanks per Sheet"
              id="100Wt. Blanks per Sheet"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="100 SBWt. Blanks per Sheet"
              id="100 SBWt. Blanks per Sheet"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="120Wt. Blanks per Sheet"
              id="120Wt. Blanks per Sheet"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="125Wt. Blanks per Sheet"
              id="125Wt. Blanks per Sheet"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="130Wt. Blanks per Sheet"
              id="130Wt. Blanks per Sheet"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="150Wt. Blanks per Sheet"
              id="150Wt. Blanks per Sheet"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="150 SBWt. Blanks per Sheet"
              id="150 SBWt. Blanks per Sheet"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="170Wt. Blanks per Sheet"
              id="170Wt. Blanks per Sheet"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="200Wt. Blanks per Sheet"
              id="200Wt. Blanks per Sheet"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="200 SBWt. Blanks per Sheet"
              id="200 SBWt. Blanks per Sheet"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="8 OzWt. Blanks per Sheet"
              id="8 OzWt. Blanks per Sheet"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="250Wt. Blanks per Sheet"
              id="250Wt. Blanks per Sheet"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="300Wt. Blanks per Sheet"
              id="300Wt. Blanks per Sheet"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="330Wt. Blanks per Sheet"
              id="330Wt. Blanks per Sheet"
              maxlength="6"
              size="4"
            />
          </td>
        </tr>
        <tr>
          <td>Bottom</td>
          <td>
            <input
              type="text"
              name="40Bottom"
              id="40Bottom"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="55Bottom"
              id="55Bottom"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="65Bottom"
              id="65Bottom"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="75Bottom"
              id="75Bottom"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="85Bottom"
              id="85Bottom"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="90Bottom"
              id="90Bottom"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="100Bottom"
              id="100Bottom"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="100 SBBottom"
              id="100 SBBottom"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="120Bottom"
              id="120Bottom"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="125Bottom"
              id="125Bottom"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="130Bottom"
              id="130Bottom"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="150Bottom"
              id="150Bottom"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="150 SBBottom"
              id="150 SBBottom"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="170Bottom"
              id="170Bottom"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="200Bottom"
              id="200Bottom"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="200 SBBottom"
              id="200 SBBottom"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="8 OzBottom"
              id="8 OzBottom"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="250Bottom"
              id="250Bottom"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="300Bottom"
              id="300Bottom"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="330Bottom"
              id="330Bottom"
              maxlength="6"
              size="4"
            />
          </td>
        </tr>
        <tr>
          <td>Over heads per Cup (Rs.)</td>
          <td>
            <input
              type="text"
              name="40Over heads"
              id="40Over heads"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="55Over heads"
              id="55Over heads"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="65Over heads"
              id="65Over heads"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="75Over heads"
              id="75Over heads"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="85Over heads"
              id="85Over heads"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="90Over heads"
              id="90Over heads"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="100Over heads"
              id="100Over heads"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="100 SBOver heads"
              id="100 SBOver heads"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="120Over heads"
              id="120Over heads"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="125Over heads"
              id="125Over heads"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="130Over heads"
              id="130Over heads"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="150Over heads"
              id="150Over heads"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="150 SBOver heads"
              id="150 SBOver heads"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="170Over heads"
              id="170Over heads"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="200Over heads"
              id="200Over heads"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="200 SBOver heads"
              id="200 SBOver heads"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="8 OzOver heads"
              id="8 OzOver heads"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="250Over heads"
              id="250Over heads"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="300Over heads"
              id="300Over heads"
              maxlength="6"
              size="4"
            />
          </td>
          <td>
            <input
              type="text"
              name="330Over heads"
              id="330Over heads"
              maxlength="6"
              size="4"
            />
          </td>
        </tr>
      </table>
      <input type="submit" value="Calculate" />
    </form>
  </body>
</html>
