{%extends 'base.html'%} {% block content%}
<title>PARICOTT | ToPDF</title>

{% load static%}
<link rel="stylesheet" type="text/css" href="{% static 'topdf.css' %}" />
<form action="topdf" method="post">
  <h2>Create Quotation</h2>
  <br /><br />
  {% csrf_token %}
  <div id="boxes" class="boxes">
    <div id="leftbox" class="leftbox"></div>
    <table>
      <tr>
        <td>
          <input type="checkbox" name="Item1" id="Item1" checked />
          <label for="Item1" class="item">Item 1</label>
        </td>
        <td><input type="submit" value="Generate" /></td>
        <td><strong>Result!</strong>Location: {{Generated}}</td>
      </tr>
      <tr>
        <td><label for="size_of_cup1">Size of Cup:</label></td>
        <td><label for="productName1">Product Name:</label></td>
      </tr>
      <tr>
        <td>
          <select name="size_of_cup1" id="size_of_cup1" required>
            <option value="" , disabled selected>Select Size</option>
            {%for size in size %}
            <option value="{{size}}">{{size}}</option>
            {%endfor%}
          </select>
        </td>
        <td>
          <input
            type="text"
            name="productName1"
            id="productName1"
            size="25"
            required
            placeholder="6Ct, 90ml Ripple Cup Printed "
          />
        </td>
        <td></td>
      </tr>
      <tr>
        <td><label for="NoSKUinConatiner1">Number of SKU: </label></td>
        <td><label for="Rate1">Rate of SKU : </label></td>
        <td><label for="Amount1">Amount: </label></td>
      </tr>
      <tr>
        <td>
          <input
            type="number"
            name="NoSKUinConatiner1"
            id="NoSKUinConatiner1"
            size="15"
            required
            placeholder="1920 "
          />
        </td>
        <td>
          <input
            type="text"
            name="Rate1"
            id="Rate1"
            size="5"
            required
            placeholder="07.50 "
          />
        </td>
        <td>
          <input
            type="text"
            name="Amount1"
            id="Amount1"
            onclick="amount_calc_1()"
            size="8"
            required
            placeholder="12345.68 "
          />
        </td>
      </tr>

      <tr>
        <td><label for="DecSub1">Discription :</label></td>
        <td>
          <label for="NoMCinConatiner1">Number of Master Cartons :</label>
        </td>
        <td><label for="productName1">CBM per MC :</label></td>
      </tr>
      <tr>
        <td>
          <textarea
            name="DecSub1"
            id="DecSub1"
            cols="40"
            rows="6"
            required
            placeholder="6 Cups packed in Printed Poly Bag 
12 such Poly bag in one Master Carton
Paper Cup: 256GSM (Single side Coated)
Ripple: Inner Layer Brown Craft- 120GSM
           & Ripple Layer Craft- 120GSM
Printing in One Color: Maroon Color"
          ></textarea>
        </td>
        <td>
          <table>
            <tr>
              <td>
                <input
                  type="number"
                  name="NoMCinConatiner1"
                  id="NoMCinConatiner1"
                  size="5"
                  required
                  placeholder="3380 "
                />
              </td>
            </tr>
            <tr>
              <td><label for="MCSize1">Master Carton Size :</label></td>
            </tr>
            <tr>
              <td>
                <input
                  type="text"
                  name="MCSize1"
                  id="MCSize1"
                  size="15"
                  required
                  placeholder="334 X 253 x 217 mm"
                />
              </td>
            </tr>
          </table>
        </td>
        <td>
          <table>
            <tr>
              <td>
                <input
                  type="text"
                  name="CBMperMC1"
                  id="CBMperMC1"
                  size="13"
                  required
                  onclick="CBMMC_cal_1()"
                  placeholder="0.0183"
                />
              </td>
            </tr>
            <tr>
              <td><label for="productName1">CBM per MC :</label></td>
            </tr>
            <tr>
              <td>
                <input
                  type="text"
                  name="CBMper40HQ1"
                  id="CBMper40HQ1"
                  onclick="CBM40_calc_1()"
                  size="13"
                  required
                  placeholder="71.147"
                />
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <table>
      <tr>
        <td>
          <input type="checkbox" name="Item2" id="Item2" />
          <label for="Item2" class="item">Item 2</label>
        </td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><label for="size_of_cup2">Size of Cup:</label></td>
        <td><label for="productName2">Product Name:</label></td>
      </tr>
      <tr>
        <td>
          <select name="size_of_cup2" id="size_of_cup2">
            <option value="" , disabled selected>Select Size</option>
            {%for size in size %}
            <option value="{{size}}">{{size}}</option>
            {%endfor%}
          </select>
        </td>
        <td>
          <input
            type="text"
            name="productName2"
            id="productName2"
            size="25"
            placeholder="6Ct, 90ml Ripple Cup Printed "
          />
        </td>
        <td></td>
      </tr>
      <tr>
        <td><label for="NoSKUinConatiner2">Number of SKU: </label></td>
        <td><label for="Rate2">Rate of SKU : </label></td>
        <td><label for="Amount2">Amount: </label></td>
      </tr>
      <tr>
        <td>
          <input
            type="number"
            name="NoSKUinConatiner2"
            id="NoSKUinConatiner2"
            size="15"
            placeholder="1920 "
          />
        </td>
        <td>
          <input
            type="text"
            name="Rate2"
            id="Rate2"
            size="5"
            placeholder="07.50 "
          />
        </td>
        <td>
          <input
            type="text"
            name="Amount2"
            id="Amount2"
            onclick="amount_calc_2()"
            size="8"
            placeholder="12345.68 "
          />
        </td>
      </tr>

      <tr>
        <td><label for="DecSub2">Discription :</label></td>
        <td>
          <label for="NoMCinConatiner2">Number of Master Cartons :</label>
        </td>
        <td><label for="productName2">CBM per MC :</label></td>
      </tr>
      <tr>
        <td>
          <textarea
            name="DecSub2"
            id="DecSub2"
            cols="40"
            rows="6"
            placeholder="6 Cups packed in Printed Poly Bag 
12 such Poly bag in one Master Carton
Paper Cup: 256GSM (Single side Coated)
Ripple: Inner Layer Brown Craft- 120GSM
           & Ripple Layer Craft- 120GSM
Printing in One Color: Maroon Color"
          ></textarea>
        </td>
        <td>
          <table>
            <tr>
              <td>
                <input
                  type="number"
                  name="NoMCinConatiner2"
                  id="NoMCinConatiner2"
                  size="5"
                  placeholder="3380 "
                />
              </td>
            </tr>
            <tr>
              <td><label for="MCSize1">Master Carton Size :</label></td>
            </tr>
            <tr>
              <td>
                <input
                  type="text"
                  name="MCSize2"
                  id="MCSize2"
                  size="15"
                  placeholder="334 X 253 x 217 mm"
                />
              </td>
            </tr>
          </table>
        </td>
        <td>
          <table>
            <tr>
              <td>
                <input
                  type="text"
                  name="CBMperMC2"
                  id="CBMperMC2"
                  size="13"
                  onclick="CBMMC_cal_2()"
                  placeholder="0.0183"
                />
              </td>
            </tr>
            <tr>
              <td><label for="productName2">CBM per MC :</label></td>
            </tr>
            <tr>
              <td>
                <input
                  type="text"
                  name="CBMper40HQ2"
                  id="CBMper40HQ2"
                  onclick="CBM40_calc_2()"
                  size="13"
                  placeholder="71.147"
                />
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <table>
      <tr>
        <td>
          <input type="checkbox" name="Item3" id="Item3" />
          <label for="Item3" class="item">Item 3</label>
        </td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><label for="size_of_cup3">Size of Cup:</label></td>
        <td><label for="productName3">Product Name:</label></td>
      </tr>
      <tr>
        <td>
          <select name="size_of_cup3" id="size_of_cup3">
            <option value="" , disabled selected>Select Size</option>
            {%for size in size %}
            <option value="{{size}}">{{size}}</option>
            {%endfor%}
          </select>
        </td>
        <td>
          <input
            type="text"
            name="productName3"
            id="productName3"
            size="25"
            placeholder="6Ct, 90ml Ripple Cup Printed "
          />
        </td>
        <td></td>
      </tr>
      <tr>
        <td><label for="NoSKUinConatiner3">Number of SKU: </label></td>
        <td><label for="Rate3">Rate of SKU : </label></td>
        <td><label for="Amount3">Amount: </label></td>
      </tr>
      <tr>
        <td>
          <input
            type="number"
            name="NoSKUinConatiner3"
            id="NoSKUinConatiner3"
            size="15"
            placeholder="1920 "
          />
        </td>
        <td>
          <input
            type="text"
            name="Rate3"
            id="Rate3"
            size="5"
            placeholder="07.50 "
          />
        </td>
        <td>
          <input
            type="text"
            name="Amount3"
            id="Amount3"
            onclick="amount_calc_3()"
            size="8"
            placeholder="12345.68 "
          />
        </td>
      </tr>

      <tr>
        <td><label for="DecSub3">Discription :</label></td>
        <td>
          <label for="NoMCinConatiner3">Number of Master Cartons :</label>
        </td>
        <td><label for="productName3">CBM per MC :</label></td>
      </tr>
      <tr>
        <td>
          <textarea
            name="DecSub3"
            id="DecSub3"
            cols="40"
            rows="6"
            placeholder="6 Cups packed in Printed Poly Bag 
12 such Poly bag in one Master Carton
Paper Cup: 256GSM (Single side Coated)
Ripple: Inner Layer Brown Craft- 120GSM
           & Ripple Layer Craft- 120GSM
Printing in One Color: Maroon Color"
          ></textarea>
        </td>
        <td>
          <table>
            <tr>
              <td>
                <input
                  type="number"
                  name="NoMCinConatiner3"
                  id="NoMCinConatiner3"
                  size="5"
                  placeholder="3380 "
                />
              </td>
            </tr>
            <tr>
              <td><label for="MCSize3">Master Carton Size :</label></td>
            </tr>
            <tr>
              <td>
                <input
                  type="text"
                  name="MCSize3"
                  id="MCSize3"
                  size="15"
                  placeholder="334 X 253 x 217 mm"
                />
              </td>
            </tr>
          </table>
        </td>
        <td>
          <table>
            <tr>
              <td>
                <input
                  type="text"
                  name="CBMperMC3"
                  id="CBMperMC3"
                  size="13"
                  onclick="CBMMC_cal_3()"
                  placeholder="0.0183"
                />
              </td>
            </tr>
            <tr>
              <td><label for="productName3">CBM per MC :</label></td>
            </tr>
            <tr>
              <td>
                <input
                  type="text"
                  name="CBMper40HQ3"
                  id="CBMper40HQ3"
                  onclick="CBM40_calc_3()"
                  size="13"
                  placeholder="71.147"
                />
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</form>

<script>
  function amount_calc_1() {
    document.getElementById("Amount1").value = parseFloat(
      document.getElementById("NoSKUinConatiner1").value *
        document.getElementById("Rate1").value
    ).toFixed(4);
  }
  function amount_calc_2() {
    document.getElementById("Amount2").value = parseFloat(
      document.getElementById("NoSKUinConatiner2").value *
        document.getElementById("Rate2").value
    ).toFixed(4);
  }
  function amount_calc_3() {
    document.getElementById("Amount3").value = parseFloat(
      document.getElementById("NoSKUinConatiner3").value *
        document.getElementById("Rate3").value
    ).toFixed(4);
  }
  function CBMMC_cal_1() {
    c = document.getElementById("MCSize1").value;
    const myArray = c.split("x");
    result =
      parseInt(myArray[0]) *
      parseInt(myArray[1]) *
      parseInt(myArray[2]) *
      Math.pow(0.1, 9);
    CBM = parseFloat(result).toFixed(4);

    document.getElementById("CBMperMC1").value = CBM;
  }
  function CBMMC_cal_2() {
    c = document.getElementById("MCSize2").value;
    const myArray = c.split("x");
    result =
      parseInt(myArray[0]) *
      parseInt(myArray[1]) *
      parseInt(myArray[2]) *
      Math.pow(0.1, 9);
    CBM = parseFloat(result).toFixed(4);

    document.getElementById("CBMperMC2").value = CBM;
  }
  function CBMMC_cal_3() {
    c = document.getElementById("MCSize3").value;
    const myArray = c.split("x");
    result =
      parseInt(myArray[0]) *
      parseInt(myArray[1]) *
      parseInt(myArray[2]) *
      Math.pow(0.1, 9);
    CBM = parseFloat(result).toFixed(4);

    document.getElementById("CBMperMC3").value = CBM;
  }

  function CBM40_calc_1() {
    CBM40 =
      document.getElementById("CBMperMC1").value *
      document.getElementById("NoMCinConatiner1").value;
    document.getElementById("CBMper40HQ1").value = parseFloat(CBM40).toFixed(2);
  }
  function CBM40_calc_2() {
    CBM40 =
      document.getElementById("CBMperMC2").value *
      document.getElementById("NoMCinConatiner2").value;
    document.getElementById("CBMper40HQ2").value = parseFloat(CBM40).toFixed(2);
  }
  function CBM40_calc_3() {
    CBM40 =
      document.getElementById("CBMperMC3").value *
      document.getElementById("NoMCinConatiner3").value;
    document.getElementById("CBMper40HQ3").value = parseFloat(CBM40).toFixed(2);
  }
</script>
{% endblock %}
