{%extends 'base.html'%} {% block content%}
<title>PARICOTT | Get Quote</title>

{% load static%}
<link rel="stylesheet" type="text/css" href="{% static 'topdf.css' %}" />
<form action="getquote_1" method="post">
<h2>Create Quotation</h2>
<br /><br />
  {% csrf_token %}
  <div id="boxes" class="boxes">
    <div id="leftbox" class="leftbox">
      <table>
        <tr>
          <td><label for="Date">Date:</label></td>
          <td><input
            type="date"
            name="Date"
            id="Date"
            required
          /></td> <td>
          <label for="noQuote">Quote:</label></td> <td>
            <input
              type="text"
              name="noQuote"
              id="noQuote"
              placeholder="{{last_quote_id}}"
              required
            /></td>
        </tr>
        <tr>
          <td><label for="Abrv">Abrv:</label></td>
          <td><input type="text" name="Abrv" id="Abrv" placeholder="{{Abrv}}" /></td>
          <td><label for="buyerlist">Or Select  :</label></td>
          <td><select name="buyer" id="buyer" >
            <option value="none" ,disabled selected>Select buyer</option>
            {%for buyerlist in buyerlist %}
            <option value="{{buyerlist}}">{{buyerlist}}</option>
            {%endfor%}
          </select></td>
        </tr>
        <tr>
          <td><label for="CompanyName">Company Name:</label></td>
          <td><input
            type="text"
            name="CompanyName"
            id="CompanyName"
            placeholder="{{CompName}}"
            
          /></td>
        </tr>
        <tr>
          <td><label for="CompanyAdd">Company Address:</label></td>
          <td><textarea
            name="CompanyAdd"
            id="CompanyAdd"
            cols="30"
            rows="3"
            placeholder="{{CompAdd}}"
          ></textarea></td>
        </tr>
        <tr>
          <td><label for="BuyerName">Buyer Name:</label></td>
          <td><input
            type="text"
            name="BuyerName"
            id="BuyerName"
            
            placeholder="{{BuyerName}}"
          /></td>
        </tr>
        <tr>
          <td><label for="Buyerinfo">Buyer info:</label></td>
          <td><textarea
            name="Buyerinfo"
            id="Buyerinfo"
            cols="30"
            rows="3"
            placeholder="{{BuyerDet}}"
          >{{BuyerDet}}</textarea></td>
        </tr>
      </table>

      <label for="T&C">Terms & Conditions:</label> <br>
      <textarea
        name="T&C"
        id="T&C"
        cols="54"
        rows="5"
        textContent="hi"
        
        placeholder="{{TandC}}"
      >{{TandC}}</textarea><br>
      <input type="submit" value="Next" />
      <br><strong>Result!</strong> <br> 
      Location: {{Generated}}
    </div>
      </table>
    </div>
    
</form>

<script>
  function amount_calc_1() {
    document.getElementById("Amount1").value = parseFloat(
      document.getElementById("NoSKUinConatiner1").value *
        document.getElementById("Rate1").value
    ).toFixed(4);
  }
  function amount_calc_2() {
    document.getElementById("Amount2").value = parseFloat(
      document.getElementById("NoSKUinConatiner2").value *
        document.getElementById("Rate2").value
    ).toFixed(4);
  }
  function amount_calc_3() {
    document.getElementById("Amount3").value = parseFloat(
      document.getElementById("NoSKUinConatiner3").value *
        document.getElementById("Rate3").value
    ).toFixed(4);
  }
  function CBMMC_cal_1() {
    c = document.getElementById("MCSize1").value;
    const myArray = c.split("x");
    result =
      parseInt(myArray[0]) *
      parseInt(myArray[1]) *
      parseInt(myArray[2]) *
      Math.pow(0.1, 9);
    CBM = parseFloat(result).toFixed(4);

    document.getElementById("CBMperMC1").value = CBM;
  }
  function CBMMC_cal_2() {
    c = document.getElementById("MCSize2").value;
    const myArray = c.split("x");
    result =
      parseInt(myArray[0]) *
      parseInt(myArray[1]) *
      parseInt(myArray[2]) *
      Math.pow(0.1, 9);
    CBM = parseFloat(result).toFixed(4);

    document.getElementById("CBMperMC2").value = CBM;
  }
  function CBMMC_cal_3() {
    c = document.getElementById("MCSize3").value;
    const myArray = c.split("x");
    result =
      parseInt(myArray[0]) *
      parseInt(myArray[1]) *
      parseInt(myArray[2]) *
      Math.pow(0.1, 9);
    CBM = parseFloat(result).toFixed(4);

    document.getElementById("CBMperMC3").value = CBM;
  }

  function CBM40_calc_1() {
    CBM40 =
      document.getElementById("CBMperMC1").value *
      document.getElementById("NoMCinConatiner1").value;
    document.getElementById("CBMper40HQ1").value = parseFloat(CBM40).toFixed(2);
  }
  function CBM40_calc_2() {
    CBM40 =
      document.getElementById("CBMperMC2").value *
      document.getElementById("NoMCinConatiner2").value;
    document.getElementById("CBMper40HQ2").value = parseFloat(CBM40).toFixed(2);
  }
  function CBM40_calc_3() {
    CBM40 =
      document.getElementById("CBMperMC3").value *
      document.getElementById("NoMCinConatiner3").value;
    document.getElementById("CBMper40HQ3").value = parseFloat(CBM40).toFixed(2);
  }
</script>
{% endblock %}
