{%extends 'base.html'%} {% block content%}
<title>PARICOTT | PackCalc</title>
{% load static%}
<link rel="stylesheet" type="text/css" href="{% static 'topdf.css' %}" />
<h2>Calculate Pkg & Transportation Cost</h2>
<br /><br />
<form action="getquote_3" method="post">
  {% csrf_token %}
  <table>
    <tr>
      <td><label for="CostperCup">Cost per Cup:</label></td>
      <td>
        <input
          type="text"
          name="CostperCup"
          id="CostperCup"
          placeholder="0.25"
          value="{{base_cup_cost}}"
          required
        />
      </td>
    </tr>
    <tr>
      <td><label for="CupsperSKU">Cups per SKU:</label></td>
      <td>
        <input
          type="text"
          name="CupsperSKU"
          id="CupsperSKU"
          placeholder="50"
          value="{{CupsperSKU}}"
          required
        />
      </td>
    </tr>
    <tr>
      <td><label for="SKUperMC">SKU per MC:</label></td>
      <td>
        <input
          type="text"
          name="SKUperMC"
          id="SKUperMC"
          placeholder="20"
          value="{{SKUperMC}}"
          required
        />
      </td>
    </tr>
    <tr>
      <td><label for="PrintingCost">Printing Cost per Cup:</label></td>
      <td>
        <input
          type="text"
          name="PrintingCost"
          id="PrintingCost"
          placeholder="0.02"
          value="{{CostPrintColorperCup}}"
          required
        />
      </td>
    </tr>
    <tr>
      <td><label for="LabelCost">Label Cost per SKU:</label></td>
      <td>
        <input
          type="text"
          name="LabelCost"
          id="LabelCost"
          placeholder="2"
          value="{{LabelCost}}"
          required
        />
      </td>
    </tr>
    <tr>
      <td><label for="PolyCost">Poly Cost per SKU:</label></td>
      <td>
        <input
          type="text"
          name="PolyCost"
          id="PolyCost"
          placeholder=".5"
          value="{{PolyCost}}"
          required
        />
      </td>
    </tr>
    <tr>
      <td><label for="MCCost">Master Carton Cost:</label></td>
      <td>
        <input
          type="text"
          name="MCCost"
          id="MCCost"
          placeholder="20"
          value="{{MCCost}}"
          required
        />
      </td>
    </tr>
    <tr>
      <td><label for="Freight">Freight per conatiner:</label></td>
      <td>
        <input
          type="text"
          name="Freight"
          id="Freight"
          placeholder="50000"
          value="{{Freight}}"
          required
        />
      </td>
    </tr>
    <tr>
      <td><label for="BoxsPerContainer">Boxes(MC) per conatiner:</label></td>
      <td>
        <input
          type="text"
          name="BoxsPerContainer"
          id="BoxsPerContainer"
          placeholder="2256"
          value="{{BoxsPerContainer}}"
          required
        />
      </td>
    </tr>
    <tr>
      <td><label for="DollorRate">Dollor Rate:</label></td>
      <td>
        <input
          type="text"
          name="DollorRate"
          id="DollorRate"
          placeholder="72"
          value="{{DollorRate}}"
          required
        />
      </td>
    </tr>
    <tr>
      <td><label for="AddCostperSKU">Additional Cost per SKU:</label></td>
      <td>
        <input
          type="text"
          name="AddCostperSKU"
          id="AddCostperSKU"
          placeholder=".5"
          value="{{AddCostperSKU}}"
          required
        />
      </td>
    </tr>
    <tr>
      <td><label for="quote_type">Quotation Type:</label></td>
      <td>
        <input
          type="radio"
          id="quote_type_mc"
          name="quote_type"
          value="quote_type_mc"
          checked
        /><label for="quote_type_mc"> Master Carton</label>
      </td>
      <td>
        <input
          type="radio"
          id="quote_type_sku"
          name="quote_type"
          value="quote_type_sku"
        /><label for="quote_type_sku"> SKU</label>
      </td>
    </tr>
    <tr>
      <td><label for="currency_type">Currency Type:</label></td>
      <td>
        <input
          type="radio"
          id="currency_type_dollor"
          name="currency_type"
          value="currency_type_dollor"
          checked
        /><label for="currency_type_dollor"> Dollor $</label>
      </td>
      <td>
        <input
          type="radio"
          id="currency_type_rupee"
          name="currency_type"
          value="currency_type_rupee"
        /><label for="currency_type_rupee"> Rupee ₹</label>
      </td>
    </tr>
  </table>

  <input type="hidden" name="Date" value="{{Date}}" />
  <input type="hidden" name="noQuote" value="{{No_quote}}" />
  <input type="hidden" name="Abrv" value="{{Abrv}}" />
  <input type="hidden" name="CompanyName" value="{{CompName}}" />
  <input type="hidden" name="CompanyAdd" value="{{CompAdd}}" />
  <input type="hidden" name="BuyerName" value="{{BuyerName}}" />
  <input type="hidden" name="Buyerinfo" value="{{BuyerDet}}" />
  <input type="hidden" name="T&C" value="{{TandC}}" />
  <input type="hidden" name="size_of_cup" value="{{size_of_cup}}" />
  <input type="hidden" name="gsm" value="{{gsm}}" />
  <input type="hidden" name="bottom_gsm" value="{{bottom_gsm}}" />
  <input type="hidden" name="paper_rate" value="{{paper_rate}}" />
  <input type="hidden" name="scrape_rate" value="{{scrape_rate}}" />
  <input type="hidden" name="margin" value="{{margin}}" />
  <input type="hidden" name="base_cup_cost" value="{{base_cup_cost}}" />
  <input type="hidden" name="user" value="{{user}}" />

  <input type="submit" value="Calculate" name="Calculate" />
  <input type="submit" value="Next" name="Next" />
</form>
<strong>Result!</strong><br />
Cost of Master Carton ₹{{MCcostinINR}} & ${{MCcostinDollor}} Dollor <br />
Cost of SKU ₹{{SKUcostinINR}} & ${{SKUcostinDollor}} Dollor {% endblock %}
