<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles\header.css" />
    <title>Document</title>
  </head>
  <body>
    <header class="site-header">
      <div class="wrapper site-header__wrapper">
        <a href="/home" class="brand">Paricott Calculator</a>
        <nav class="nav">
          <ul class="nav__wrapper">
            <li class="nav__item"><a href="/home">Home</a></li>
            <li class="nav__item"><a href="/base">Basecup Cost</a></li>
            <li class="nav__item"><a href="/packcost">SKU Cost</a></li>
            <li class="nav__item"><a href="/topdf">To PDF</a></li>
            <li class="nav__item"><a href="/calib">Calibrate</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <form action="packcost" method="post">
      {% csrf_token %}
      <div>
        <label for="CostperCup">Cost per Cup</label>
        <input type="text" name="CostperCup" id="CostperCup" />
      </div>
      <div>
        <label for="CupsperSKU">Cups per SKU</label>
        <input type="text" name="CupsperSKU" id="CupsperSKU" />
      </div>
      <div>
        <label for="SKUperMC">SKU per MC:</label>
        <input type="text" name="SKUperMC" id="SKUperMC" />
      </div>
      <div>
        <label for="PrintingCost">Printing Cost per Cup:</label>
        <input type="text" name="PrintingCost" id="PrintingCost" />
      </div>
      <div>
        <label for="LabelCost">Label Cost per SKU:</label>
        <input type="text" name="LabelCost" id="LabelCost" />
      </div>
      <div>
        <label for="PolyCost">Poly Cost per SKU:</label>
        <input type="text" name="PolyCost" id="PolyCost" />
      </div>
      <div>
        <label for="MCCost">Master Carton Cost:</label>
        <input type="text" name="MCCost" id="MCCost" />
      </div>
      <div>
        <label for="Freight">Freight per conatiner:</label>
        <input type="text" name="Freight" id="Freight" />
      </div>
      <div>
        <label for="BoxsPerContainer">Boxes(MC) per conatiner:</label>
        <input type="text" name="BoxsPerContainer" id="BoxsPerContainer" />
      </div>
      <div>
        <label for="DollorRate">Dollor Rate:</label>
        <input type="text" name="DollorRate" id="DollorRate" />
      </div>
      <div>
        <label for="AddCostperSKU">Additional Cost per SKU:</label>
        <input type="text" name="AddCostperSKU" id="AddCostperSKU" />
      </div>
      <input type="submit" value="Calculate" />
    </form>
  </body>
</html>
