{%extends 'base.html'%} {% block content%}
<title>Test Page</title>
<form action="/test" method="post">
  {% csrf_token %}
  <label for="Date">Date:</label>
  <input type="date" name="Date" id="Date" placeholder="11-Nov-2021" />
  <br />
  <label for="noQuote">Quote:</label>
  <input type="text" name="noQuote" id="noQuote" placeholder="201/21-22" />
  <br />
  <label for="buyer_alias">Buyer Alias:</label>
  <input
    type="text"
    name="buyer_alias"
    id="buyer_alias"
    placeholder="MaxHome"
    required
  />

  <br />
  <br />
  <input type="submit" value="Submit" />
</form>
{{result}} {% endblock %}
